[submodule "soc-chip-2025"]
	path = soc-chip-2025
	url = https://github.com/os-chip-design/soc-chip-2025.git
[submodule "wildcat"]
	path = wildcat
	url = https://github.com/schoeberl/wildcat
[submodule "wildcat/soc-comm"]
	url = https://github.com/t-crest/soc-comm.git
